<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984952966163-8osuiihk5013f2qkuq2q5iuk54beu696.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984952966163-8osuiihk5013f2qkuq2q5iuk54beu696</string>
	<key>API_KEY</key>
	<string>AIzaSyCgzU0fe7eQhF20Fs66OX7Q9q8Iimkkzts</string>
	<key>GCM_SENDER_ID</key>
	<string>984952966163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sq.wzf-development</string>
	<key>PROJECT_ID</key>
	<string>lostfuture</string>
	<key>STORAGE_BUCKET</key>
	<string>lostfuture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984952966163:ios:1e4c353d45838e7a2d83e6</string>
</dict>
</plist>